<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
  <meta charset="UTF-8">
  <title>Modify Student Information</title>
</head>
<body>
<h1 align="center">Modify Student Information</h1>
<form th:action="@{/user/upDate}" method="post">
  <input type="hidden" name="id" th:value="${students.id}">
  <table align="center">
    <tr>
      <th >loginName</th>
      <th >username</th>
      <th >password</th>
    </tr>
    <tr>
      <td><input type="text" name="loginName" th:value="${students.loginName}"></td>
      <td><input type="text" name="username" th:value="${students.username}"></td>
      <td><input type="text" name="password" th:value="${students.password}"></td>
      <td><input type="submit" value="submit"></td>
  </table>
</form>
</body>
</html>